# S3 Proxy Configuration
# Azure Blob Storage Credentials
AZURE_STORAGE_ACCOUNT_NAME=
AZURE_STORAGE_ACCOUNT_URL=
AZURE_STORAGE_ACCOUNT_KEY=

# S3 Proxy Access Credentials
S3PROXY_IDENTITY=your-s3proxy-identity-here
S3PROXY_CREDENTIAL=your-s3proxy-credential-here

# Cloudserver Configuration
SCALITY_ACCESS_KEY_ID=your-scality-access-key-here
SCALITY_SECRET_ACCESS_KEY=your-scality-secret-key-here
